---
import Base from "@layouts/base.astro";
import Login from "@components/react/login_form";
---
<Base title="Login" og_url="https://yome.vercel.app/login" og_image="https://yome.vercel.app/img/cover/default.png">
   <h1>Login</h1>
   <Login client:load />
</Base>