---
import Base from "@layouts/base.astro";
import Login from "@components/react/login_form";
---
<Base title="Login" og_url="https://yome.vercel.app/login" og_image="https://yome.vercel.app/img/cover/default.png">
   <div class="grid grid-cols-2 gap-[65px] px-28 pt-14">
      <figure class="basis-1/2 flex flex-col justify-center space-y-5 text-2xl text-gray-100">
         <img src="/img/logo/Yome_letter_colored.svg" alt="Yome Logo" class="w-[180px] h-auto"/>
         <figcaption>Listening to music to keep your mood, find your fantastic audio</figcaption>
      </figure>
      <div class="basis-1/2 rounded-xl bg-gray-900 py-8 px-6 border border-gray-700">
         <Login client:load />
      </div>
   </div>
</Base>