---
import Base from "@layouts/base.astro";
import Register from "@components/react/register_form";
---
<Base title="Register" og_url="https://yome.vercel.app/register" og_image="https://yome.vercel.app/img/cover/default.png">
   <h1>Register</h1>
   <Register client:load />
</Base>