---
import Base from "@layouts/base.astro";
import AddSong from "@components/react/add_song";
---

<Base title="Music Setting" og_url="https://yome.vercel.app/mv" og_image="https://yome.vercel.app/img/cover/default.png">
   <h1>Music Videos</h1>
   <AddSong client:only="react"/>
</Base>