---
import Base from "../../layouts/base.astro";
---

<Base title="Top Charts" og_url="https://yome.vercel.app/top-charts" og_image="https://habibi2004.pages.dev/cover/default.png">
   <h1>Top Charts</h1>
</Base>