---
import Base from "../../layouts/base.astro";
---

<Base title="Yome - Contact" og_url="https://yome.vercel.app/contact" og_image="https://habibi2004.pages.dev/cover/default.png">
   <h1>Contact</h1>
</Base>