---
import Button from "../components/button";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Yome</title>
	</head>
	<body>
		<a href="/contact">contact</a>
		<h1>YOme</h1>
		<Button client:load></Button>
	</body>
</html>