---
import Button from "../components/button";
import Base from "../layouts/base.astro";
---

<Base title="Yome - Dope, cool, fantastic audio" og_url="https://yome.vercel.app/" og_image="https://habibi2004.pages.dev/cover/default.png">
	<h1>YOme</h1>
	<Button client:load></Button>
</Base>