---
import Button from "../components/button";
import Base from "../layouts/base.astro";
---

<Base title="Yome - Listen your fantastic audio" og_url="https://yome.vercel.app/" og_image="https://yome.vercel.app/img/cover/default.png">
	<h1>Yome - Listen your fantastic audio</h1>
	<Button client:load></Button>
</Base>