---
import Base from "@layouts/base.astro";
import SideHome from "@components/react/side_home";
import NewReleases from "@components/react/new_release";
---

<Base title="Yome - Listen your fantastic audio" og_url="https://yome.vercel.app/" og_image="https://yome.vercel.app/img/cover/default.png">
	<div class="flex flex-row space-x-4 w-full">
		<section class="basis-[70%]">
			<div>
				<img class=" rounded-xl w-full h-auto" src="/img/components/banner.svg" alt="Banner" />
			</div>
		</section>
		<SideHome />
	</div>
	<div class="mt-10 flex flex-col space-y-6">
		<NewReleases client:only/>
	</div>
</Base>