---
import Base from "../../layouts/base.astro";
---

<Base title="Library" og_url="https://yome.vercel.app/library" og_image="https://habibi2004.pages.dev/cover/default.png">
   <h1>Library</h1>
</Base>