---
import Base from "../../layouts/base.astro";
---

<Base title="Music Videos" og_url="https://yome.vercel.app/mv" og_image="https://habibi2004.pages.dev/cover/default.png">
   <h1>Music Videos</h1>
</Base>