---
const year = new Date().getFullYear();
---

<footer class="px-6 md:px-20 pt-6 bg-gray-900 w-full">
   <section class="flex flex-col md:flex-row justify-start md:space-x-20 mb-10 text-gray-300">
      <figure class="w-full md:basis-[30%] text-base flex flex-col space-y-3">
         <img src="/img/logo/Yome.svg" class="cursor-pointer w-[150px] h-auto grayscale hover:filter-none" title="Yome Logo" alt="Yome Logo" />
         <figcaption>
            Listen your favorite cool and fantastic audio, keep your mood with free music to listen and download only in <a href="/" class="italic text-sky-400">Yome</a>
         </figcaption>
      </figure>

      <div class="grow mt-4 grid grid-cols-2 md:grid-cols-3 gap-8">
         <!-- ###2 -->
         <section class="flex flex-col space-y-2">
            <h6 class="font-bold text-sky-500 text-lg">Social Media</h6>
            <nav class="flex flex-col space-y-2 text-sm">
               <a class="hover:underline cursor-pointer max-w-fit">Facebook</a>
               <a class="hover:underline cursor-pointer max-w-fit">Instagram</a>
               <a class="hover:underline cursor-pointer max-w-fit">Twitter</a>
               <a class="hover:underline cursor-pointer max-w-fit">YouTube</a>
               <a class="hover:underline cursor-pointer max-w-fit">Telegram</a>
            </nav>
         </section>
         <!-- ###1 -->
         <section class="flex flex-col space-y-2">
            <h6 class="font-bold text-sky-500 text-lg">Music & Streaming</h6>
            <nav class="flex flex-col space-y-2 text-sm">
               <a class="hover:underline cursor-pointer max-w-fit">Spotify</a>
               <a class="hover:underline cursor-pointer max-w-fit">YouTube Music</a>
               <a class="hover:underline cursor-pointer max-w-fit">Deezer</a>
               <a class="hover:underline cursor-pointer max-w-fit">Soundcloud</a>
               <a class="hover:underline cursor-pointer max-w-fit">Apple Music</a>
               <a class="hover:underline cursor-pointer max-w-fit">JOOX</a>
               <a class="hover:underline cursor-pointer max-w-fit">Google Play Music</a>
            </nav>
         </section>
         <!-- ###3 -->
         <section class="flex flex-col space-y-2">
            <h6 class="font-bold text-sky-500 text-lg">Yome</h6>
            <nav class="flex flex-col space-y-2 text-sm">
               <a class="hover:underline cursor-pointer max-w-fit">About</a>
               <a class="hover:underline cursor-pointer max-w-fit">Terms & Privacy</a>
               <a class="hover:underline cursor-pointer max-w-fit">Donate</a>
               <a class="hover:underline cursor-pointer max-w-fit">Contact Us</a>
               <a class="hover:underline cursor-pointer max-w-fit">Partnership</a>
               <a class="hover:underline cursor-pointer max-w-fit">API & Developers</a>
            </nav>
         </section>
      </div>
   </section>
   <div class="flex flex-col justify-center items-center py-3 border-t border-gray-700">
      <div class="flex flex-row space-x-3 text-sm italic">
         <p>Copyright &copy; 2016 - {year}</p><p>|</p><p><a href="/" class="text-green-400">Yome.Inc</a>, All right reserved. Powered by <a href="https://react.dev" target="_blank" class="text-sky-500">React JS</a></p>
      </div>
   </div>
</footer>