<nav class="flex flex-row mx-20 my-16 justify-center space-x-4">
   <a href="/" class="py-2 px-4 bg-slate-200 hover:bg-slate-100 rounded-lg">Home</a>
   <a href="/contact" class="py-2 px-4 bg-slate-200 hover:bg-slate-100 rounded-lg">Contact</a>
</nav>