<nav class="text-lg flex flex-row justify-between items-center px-20 py-4 bg-gray-900 z-50 fixed w-screen top-0 inset-x-0">
   <!-- Logo & Button -->
   <div class="flex flex-row items-center space-x-3">
      <span class="active:bg-sky-400/20 p-1.5 hover:bg-sky-400/10 hover:text-sky-600 rounded-xl cursor-pointer">
         <svg viewBox="0 0 24 24" class="w-[25px] h-auto fill-current">
            <path d="M21 7.75H3C2.59 7.75 2.25 7.41 2.25 7C2.25 6.59 2.59 6.25 3 6.25H21C21.41 6.25 21.75 6.59 21.75 7C21.75 7.41 21.41 7.75 21 7.75Z"/>
            <path d="M21 12.75H3C2.59 12.75 2.25 12.41 2.25 12C2.25 11.59 2.59 11.25 3 11.25H21C21.41 11.25 21.75 11.59 21.75 12C21.75 12.41 21.41 12.75 21 12.75Z"/>
            <path d="M21 17.75H3C2.59 17.75 2.25 17.41 2.25 17C2.25 16.59 2.59 16.25 3 16.25H21C21.41 16.25 21.75 16.59 21.75 17C21.75 17.41 21.41 17.75 21 17.75Z"/>
         </svg>
      </span>
      <a href="/" class="-mt-1.5 hover:grayscale">
         <img class="w-[110px] h-auto" src="/img/logo/Yome.svg" alt="Yome" title="Yome - Dope, cool, fantastic audio"/>
      </a>
   </div>
   <!-- Menu -->
   <div class="flex flex-row space-x-3 justify-center grow">
      <a class="active:bg-sky-400/20 cursor-pointer flex flex-row space-x-1.5 py-0.5 px-2 rounded-xl hover:bg-sky-400/10 hover:text-sky-500">
         <svg viewBox="0 0 24 24" class="w-[18px] h-auto fill-current">
            <path d="M17.5999 22.5601H6.39985C4.57984 22.5601 2.91985 21.1601 2.61985 19.3601L1.28984 11.4001C1.07984 10.1601 1.67985 8.57011 2.66985 7.78011L9.59986 2.23006C10.9399 1.15006 13.0498 1.16007 14.3998 2.24007L21.3299 7.78011C22.3099 8.57011 22.9099 10.1601 22.7099 11.4001L21.3799 19.3601C21.0799 21.1301 19.3899 22.5601 17.5999 22.5601ZM11.9899 2.94008C11.4599 2.94008 10.9298 3.10005 10.5398 3.41005L3.60985 8.9601C3.03985 9.4201 2.64986 10.4401 2.76986 11.1601L4.09986 19.1201C4.27986 20.1701 5.32984 21.0601 6.39985 21.0601H17.5999C18.6699 21.0601 19.7198 20.1701 19.8998 19.1101L21.2298 11.1501C21.3498 10.4301 20.9499 9.40009 20.3899 8.95009L13.4599 3.41005C13.0599 3.10005 12.5299 2.94008 11.9899 2.94008Z"/>
            <path d="M12 16.25C10.21 16.25 8.75 14.79 8.75 13C8.75 11.21 10.21 9.75 12 9.75C13.79 9.75 15.25 11.21 15.25 13C15.25 14.79 13.79 16.25 12 16.25ZM12 11.25C11.04 11.25 10.25 12.04 10.25 13C10.25 13.96 11.04 14.75 12 14.75C12.96 14.75 13.75 13.96 13.75 13C13.75 12.04 12.96 11.25 12 11.25Z"/>
         </svg>               
         <span class="mt-0.5">Home</span>
      </a>
      <a class="active:bg-sky-400/20 cursor-pointer flex flex-row space-x-1.5 py-0.5 px-2 rounded-xl hover:bg-sky-400/10 hover:text-sky-500">
         <svg viewBox="0 0 24 24" class="w-[18px] h-auto fill-current">
            <path d="M22 22.75H2C1.59 22.75 1.25 22.41 1.25 22C1.25 21.59 1.59 21.25 2 21.25H22C22.41 21.25 22.75 21.59 22.75 22C22.75 22.41 22.41 22.75 22 22.75Z"/>
            <path d="M14.25 22.75H9.75C9.34 22.75 9 22.41 9 22V4C9 2.28 9.95 1.25 11.55 1.25H12.45C14.05 1.25 15 2.28 15 4V22C15 22.41 14.66 22.75 14.25 22.75ZM10.5 21.25H13.5V4C13.5 2.85 12.96 2.75 12.45 2.75H11.55C11.04 2.75 10.5 2.85 10.5 4V21.25Z"/>
            <path d="M7 22.75H3C2.59 22.75 2.25 22.41 2.25 22V10C2.25 8.28 3.13 7.25 4.6 7.25H5.4C6.87 7.25 7.75 8.28 7.75 10V22C7.75 22.41 7.41 22.75 7 22.75ZM3.75 21.25H6.25V10C6.25 8.75 5.7 8.75 5.4 8.75H4.6C4.3 8.75 3.75 8.75 3.75 10V21.25Z"/>
            <path d="M21 22.75H17C16.59 22.75 16.25 22.41 16.25 22V15C16.25 13.28 17.13 12.25 18.6 12.25H19.4C20.87 12.25 21.75 13.28 21.75 15V22C21.75 22.41 21.41 22.75 21 22.75ZM17.75 21.25H20.25V15C20.25 13.75 19.7 13.75 19.4 13.75H18.6C18.3 13.75 17.75 13.75 17.75 15V21.25Z"/>
         </svg>                                                 
         <span class="mt-0.5">Top Charts</span>
      </a>
      <a class="active:bg-sky-400/20 cursor-pointer flex flex-row space-x-1.5 py-0.5 px-2 rounded-xl hover:bg-sky-400/10 hover:text-sky-500">
         <svg viewBox="0 0 24 24" class="w-[18px] h-auto fill-current">
            <path d="M22 3.75H2C1.59 3.75 1.25 3.41 1.25 3C1.25 2.59 1.59 2.25 2 2.25H22C22.41 2.25 22.75 2.59 22.75 3C22.75 3.41 22.41 3.75 22 3.75Z"/>
            <path d="M11 9.75H2C1.59 9.75 1.25 9.41 1.25 9C1.25 8.59 1.59 8.25 2 8.25H11C11.41 8.25 11.75 8.59 11.75 9C11.75 9.41 11.41 9.75 11 9.75Z"/>
            <path d="M8 15.75H2C1.59 15.75 1.25 15.41 1.25 15C1.25 14.59 1.59 14.25 2 14.25H8C8.41 14.25 8.75 14.59 8.75 15C8.75 15.41 8.41 15.75 8 15.75Z"/>
            <path d="M6 21.75H2C1.59 21.75 1.25 21.41 1.25 21C1.25 20.59 1.59 20.25 2 20.25H6C6.41 20.25 6.75 20.59 6.75 21C6.75 21.41 6.41 21.75 6 21.75Z"/>
            <path d="M11.8402 22.7501C10.2302 22.7501 8.91016 21.4401 8.91016 19.8201C8.91016 18.2101 10.2202 16.8901 11.8402 16.8901C13.4602 16.8901 14.7702 18.2001 14.7702 19.8201C14.7702 21.4401 13.4602 22.7501 11.8402 22.7501ZM11.8402 18.4001C11.0502 18.4001 10.4102 19.0401 10.4102 19.8301C10.4102 20.6201 11.0502 21.2601 11.8402 21.2601C12.6302 21.2601 13.2702 20.6201 13.2702 19.8301C13.2702 19.0401 12.6302 18.4001 11.8402 18.4001Z"/>
            <path d="M14.0195 20.5703C13.6095 20.5703 13.2695 20.2303 13.2695 19.8203V11.0503C13.2695 9.84031 13.9895 8.89034 15.1595 8.58034L19.5095 7.39034C20.4595 7.13034 21.2795 7.23032 21.8595 7.68032C22.4395 8.13032 22.7395 8.86032 22.7395 9.87032V18.3803C22.7395 18.7903 22.3995 19.1303 21.9895 19.1303C21.5795 19.1303 21.2395 18.7903 21.2395 18.3803V9.87032C21.2395 9.37032 21.1395 9.02033 20.9495 8.88033C20.7595 8.73033 20.3695 8.7203 19.8995 8.8503L15.5495 10.0403C15.2595 10.1203 14.7695 10.3603 14.7695 11.0703V19.8404C14.7695 20.2403 14.4295 20.5703 14.0195 20.5703Z"/>
            <path d="M19.8206 21.2999C18.2106 21.2999 16.8906 19.9899 16.8906 18.3699C16.8906 16.7599 18.2006 15.4399 19.8206 15.4399C21.4406 15.4399 22.7506 16.7499 22.7506 18.3699C22.7506 19.9899 21.4406 21.2999 19.8206 21.2999ZM19.8206 16.95C19.0306 16.95 18.3906 17.5899 18.3906 18.3799C18.3906 19.1699 19.0306 19.8099 19.8206 19.8099C20.6106 19.8099 21.2506 19.1699 21.2506 18.3799C21.2506 17.5899 20.6106 16.95 19.8206 16.95Z"/>
            <path d="M14.0202 14.35C13.6902 14.35 13.3902 14.13 13.3002 13.8C13.1902 13.4 13.4302 12.9901 13.8302 12.8801L21.8102 10.7001C22.2102 10.5901 22.6202 10.83 22.7302 11.23C22.8402 11.63 22.6002 12.0401 22.2002 12.1501L14.2202 14.3301C14.1502 14.3401 14.0802 14.35 14.0202 14.35Z"/>
         </svg>                                                                       
         <span class="mt-0.5">Library</span>
      </a>
      <a class="active:bg-sky-400/20 cursor-pointer flex flex-row space-x-1.5 py-0.5 px-2 rounded-xl hover:bg-sky-400/10 hover:text-sky-500">
         <svg viewBox="0 0 24 24" class="w-[18px] h-auto fill-current">
            <path d="M15 22.75H9C3.57 22.75 1.25 20.43 1.25 15V9C1.25 3.57 3.57 1.25 9 1.25H15C20.43 1.25 22.75 3.57 22.75 9V15C22.75 20.43 20.43 22.75 15 22.75ZM9 2.75C4.39 2.75 2.75 4.39 2.75 9V15C2.75 19.61 4.39 21.25 9 21.25H15C19.61 21.25 21.25 19.61 21.25 15V9C21.25 4.39 19.61 2.75 15 2.75H9Z"/>
            <path d="M21.4795 7.85986H2.51953C2.10953 7.85986 1.76953 7.51986 1.76953 7.10986C1.76953 6.69986 2.09953 6.35986 2.51953 6.35986H21.4795C21.8895 6.35986 22.2295 6.69986 22.2295 7.10986C22.2295 7.51986 21.8995 7.85986 21.4795 7.85986Z"/>
            <path d="M8.51953 7.71986C8.10953 7.71986 7.76953 7.37986 7.76953 6.96986V2.10986C7.76953 1.69986 8.10953 1.35986 8.51953 1.35986C8.92953 1.35986 9.26953 1.69986 9.26953 2.10986V6.96986C9.26953 7.37986 8.92953 7.71986 8.51953 7.71986Z"/>
            <path d="M15.4805 7.26986C15.0705 7.26986 14.7305 6.92986 14.7305 6.51986V2.10986C14.7305 1.69986 15.0705 1.35986 15.4805 1.35986C15.8905 1.35986 16.2305 1.69986 16.2305 2.10986V6.51986C16.2305 6.93986 15.9005 7.26986 15.4805 7.26986Z"/>
            <path d="M11.09 18.1198C10.73 18.1198 10.39 18.0298 10.08 17.8598C9.4 17.4598 9 16.6598 9 15.6498V13.2498C9 12.2398 9.4 11.4298 10.09 11.0298C10.78 10.6298 11.68 10.6898 12.55 11.1998L14.63 12.3998C15.5 12.8998 16.01 13.6498 16.01 14.4498C16.01 15.2498 15.5 15.9998 14.62 16.4998L12.54 17.6998C12.06 17.9798 11.56 18.1198 11.09 18.1198ZM11.1 12.2698C11 12.2698 10.91 12.2898 10.84 12.3298C10.63 12.4498 10.5 12.7898 10.5 13.2498V15.6498C10.5 16.0998 10.63 16.4398 10.84 16.5698C11.05 16.6898 11.41 16.6298 11.8 16.3998L13.88 15.1998C14.27 14.9698 14.51 14.6898 14.51 14.4498C14.51 14.2098 14.28 13.9298 13.88 13.6998L11.8 12.4998C11.54 12.3498 11.29 12.2698 11.1 12.2698Z"/>
         </svg>                                    
         <span class="mt-0.5">MV</span>
      </a>
      <a class="active:bg-sky-400/20 cursor-pointer flex flex-row space-x-1.5 py-0.5 px-2 rounded-xl hover:bg-sky-400/10 hover:text-sky-500">
         <svg viewBox="0 0 24 24" class="w-[18px] h-auto fill-current">
            <path d="M12 22.7502C6.07 22.7502 1.25 17.9302 1.25 12.0002C1.25 10.1202 1.73999 8.27026 2.67999 6.64026C2.88999 6.28026 3.34001 6.16023 3.70001 6.36023L12.37 11.3402C12.73 11.5502 12.85 12.0002 12.65 12.3602C12.44 12.7202 11.99 12.8403 11.63 12.6403L3.63 8.05023C3.05 9.28023 2.75 10.6202 2.75 11.9902C2.75 17.0902 6.9 21.2402 12 21.2402C17.1 21.2402 21.25 17.0902 21.25 11.9902C21.25 6.89023 17.1 2.74023 12 2.74023C9.98 2.74023 8.06001 3.38024 6.45001 4.59024C6.12001 4.84024 5.64999 4.77025 5.39999 4.44025C5.14999 4.11025 5.21999 3.64026 5.54999 3.39026C7.41999 1.99026 9.65 1.24023 12 1.24023C17.93 1.24023 22.75 6.06023 22.75 11.9902C22.75 17.9202 17.93 22.7502 12 22.7502Z"/>
            <path d="M12 18.75C8.28 18.75 5.25 15.72 5.25 12C5.25 10.8 5.56999 9.60999 6.17999 8.57999C6.38999 8.21999 6.84999 8.1 7.20999 8.31C7.56999 8.52 7.69001 8.98 7.48001 9.34C7.01001 10.14 6.76001 11.06 6.76001 12C6.76001 14.9 9.12001 17.25 12.01 17.25C14.9 17.25 17.26 14.9 17.26 12C17.26 9.1 14.9 6.75 12.01 6.75C11.23 6.75 10.48 6.92 9.76999 7.25C9.38999 7.42 8.94999 7.26001 8.76999 6.89001C8.58999 6.51001 8.75 6.07001 9.13 5.89001C10.03 5.47001 11 5.25 12 5.25C15.72 5.25 18.75 8.28 18.75 12C18.75 15.72 15.72 18.75 12 18.75Z"/>
         </svg>                                               
         <span class="mt-0.5">News</span>
      </a>
   </div>
   <div class="flex flex-row space-x-2 items-center">
      <button class="active:bg-sky-400/20 p-1.5 hover:bg-sky-400/10 hover:text-sky-600 rounded-xl cursor-pointer">
         <svg viewBox="0 0 24 24" class="w-[23px] h-auto fill-current">
            <path d="M11.9995 13.74C11.2195 13.74 10.4795 13.44 9.90946 12.88C9.17946 12.15 8.88946 11.1 9.12946 10.07C9.37946 9.02001 10.2195 8.17999 11.2695 7.92999C12.2895 7.67999 13.3395 7.97002 14.0795 8.71002C14.8195 9.45002 15.0995 10.49 14.8595 11.52C14.6095 12.57 13.7695 13.41 12.7195 13.66C12.4795 13.71 12.2395 13.74 11.9995 13.74ZM11.9995 9.34003C11.8795 9.34003 11.7495 9.36001 11.6295 9.39001C11.1295 9.51001 10.7195 9.91998 10.5995 10.42C10.4695 10.94 10.6095 11.45 10.9795 11.81C11.3495 12.18 11.8495 12.31 12.3795 12.19C12.8795 12.07 13.2895 11.66 13.4095 11.16C13.5395 10.64 13.3995 10.13 13.0295 9.77002C12.7495 9.49002 12.3895 9.34003 11.9995 9.34003Z"/>
            <path d="M6.01996 17.97C5.83996 17.97 5.64995 17.9 5.50995 17.77C3.56995 15.97 2.45996 13.43 2.45996 10.79C2.45996 5.52998 6.73995 1.25 12 1.25C17.26 1.25 21.5399 5.52998 21.5399 10.79C21.5399 13.45 20.47 15.91 18.53 17.74C18.23 18.02 17.75 18.01 17.47 17.71C17.19 17.41 17.2 16.93 17.5 16.65C19.14 15.11 20.0399 13.04 20.0399 10.8C20.0399 6.36999 16.43 2.76001 12 2.76001C7.56995 2.76001 3.95996 6.36999 3.95996 10.8C3.95996 13.06 4.86995 15.14 6.52995 16.68C6.82995 16.96 6.84996 17.44 6.56996 17.74C6.41996 17.89 6.21996 17.97 6.01996 17.97Z"/>
            <path d="M15.9995 15.3C15.8195 15.3 15.6295 15.23 15.4895 15.1C15.1895 14.82 15.1695 14.34 15.4595 14.04C16.2895 13.16 16.7495 12 16.7495 10.8C16.7495 8.18005 14.6195 6.06006 12.0095 6.06006C9.39952 6.06006 7.26953 8.19005 7.26953 10.8C7.26953 12.01 7.72952 13.16 8.55952 14.04C8.83952 14.34 8.82953 14.82 8.52953 15.1C8.22953 15.38 7.74953 15.3701 7.46953 15.0701C6.37953 13.9101 5.76953 12.39 5.76953 10.8C5.76953 7.36005 8.56952 4.56006 12.0095 4.56006C15.4495 4.56006 18.2495 7.36005 18.2495 10.8C18.2495 12.39 17.6495 13.9101 16.5495 15.0701C16.3995 15.2201 16.1995 15.3 15.9995 15.3Z"/>
            <path d="M13.4397 22.7501H10.5697C9.42969 22.7501 8.41968 22.1101 7.92968 21.0901C7.43968 20.0701 7.56968 18.8801 8.27968 17.9901L9.71969 16.2001C10.2797 15.5001 11.1097 15.1001 12.0097 15.1001C12.9097 15.1001 13.7397 15.5001 14.2997 16.2001L15.7397 17.9901C16.4497 18.8801 16.5897 20.0701 16.0897 21.0901C15.5797 22.1101 14.5697 22.7501 13.4397 22.7501ZM10.8797 17.1301L9.43969 18.9201C9.08969 19.3601 9.01969 19.9301 9.26969 20.4301C9.50969 20.9401 9.99968 21.2401 10.5597 21.2401H13.4297C13.9897 21.2401 14.4797 20.9401 14.7197 20.4301C14.9597 19.9201 14.8997 19.3601 14.5497 18.9201L13.1097 17.1301C12.5697 16.4501 11.4297 16.4501 10.8797 17.1301Z"/>
         </svg>            
      </button>
      <div class="flex flex-row items-center rounded-xl border border-gray-700">
         <input type="text" name="search" id="search" placeholder="Search music..."
            class="bg-gray-900 outline-none ring-0 rounded-xl border-none m-0 py-1 px-2 w-[160px] text-sm"/>
         <button class="py-2 px-2.5 bg-sky-400/10 hover:bg-sky-400/20 cursor-pointer h-full rounded-r-xl border-l border-l-gray-700" title="Search">
            <svg viewBox="0 0 24 24" class="w-[16px] h-auto fill-current">
               <path d="M11 20.75C5.62 20.75 1.25 16.38 1.25 11C1.25 5.62 5.62 1.25 11 1.25C16.38 1.25 20.75 5.62 20.75 11C20.75 16.38 16.38 20.75 11 20.75ZM11 2.75C6.45 2.75 2.75 6.45 2.75 11C2.75 15.55 6.45 19.25 11 19.25C15.55 19.25 19.25 15.55 19.25 11C19.25 6.45 15.55 2.75 11 2.75Z"/>
               <path d="M20.1601 22.79C20.0801 22.79 20.0001 22.78 19.9301 22.77C19.4601 22.71 18.6101 22.39 18.1301 20.96C17.8801 20.21 17.9701 19.46 18.3801 18.89C18.7901 18.32 19.4801 18 20.2701 18C21.2901 18 22.0901 18.39 22.4501 19.08C22.8101 19.77 22.7101 20.65 22.1401 21.5C21.4301 22.57 20.6601 22.79 20.1601 22.79ZM19.5601 20.49C19.7301 21.01 19.9701 21.27 20.1301 21.29C20.2901 21.31 20.5901 21.12 20.9001 20.67C21.1901 20.24 21.2101 19.93 21.1401 19.79C21.0701 19.65 20.7901 19.5 20.2701 19.5C19.9601 19.5 19.7301 19.6 19.6001 19.77C19.4801 19.94 19.4601 20.2 19.5601 20.49Z"/>
            </svg>            
         </button>
      </div>
   </div>
</nav>