---
import Navbar from "../partials/navbar.astro";
import Footer from "../partials/footer.astro";
import Opengraph from "../partials/opengraph.astro";
const { title, og_url, og_image } = Astro.props
---

<html lang="en">
   <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/img/favicon/favicon.svg" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>{ title }</title>
      <Opengraph og_title={ title } og_url={ og_url } og_image={ og_image } />
   </head>
	<body class="font-poppins">
		<Navbar />
		<main>
         <slot />
      </main>
      <Footer />
	</body>
</html>